[Desktop Entry]
Version=1.0
Type=Application
Name=QuickMC
Comment=Launch Minecraft with QuickMC
Exec=/home/%USER%/QuickMC/launch_console.sh
Icon=minecraft
Path=/home/%USER%/QuickMC
Terminal=false
Categories=Game;
StartupNotify=true
